* text=auto
*.cs text

*.csproj -text eol=crlf
*.nuspec -text eol=crlf
*.sln -text eol=crlf

# grandfather in existing files so their line endings don't get spuriously changed
src/Logos.Utility/Ascii85.cs -text eol=crlf
src/Logos.Utility/Ascii85HttpHeader.cs -text eol=crlf
src/Logos.Utility/GenericComparer.cs -text eol=crlf
src/Logos.Utility/GuidUtility.cs -text eol=crlf
src/Logos.Utility/Net/WebExceptionUtility.cs -text eol=crlf
src/Logos.Utility/StringUtility.cs -text eol=crlf
tests/Logos.Utility.Tests/Ascii85Tests.cs -text eol=crlf
tests/Logos.Utility.Tests/Ascii85HttpHeaderTests.cs -text eol=crlf
tests/Logos.Utility.Tests/GuidUtilityTests.cs -text eol=crlf
